<section class="login-form" ng-controller="rCtrl">
	<img src="http://i63.beon.ru/5/3/1540305/97/93378797/7f3d97.jpeg" class="img-rounded img-responsive" />
	
	<div class="uinfo" ng-app="webrtcV0App">
		<p><strong>User Name:</strong> {{uProfile.uname}}</p>
		<p><strong>First Name:</strong> {{uProfile.ufname}}</p>
		<p><strong>Last Name:</strong> {{uProfile.ulname}}</p>
		<p><strong>Country:</strong> {{uProfile.ucountry}}</p>
	</div>
</section>

<section class="login-form b" ng-controller="rCtrl" ng-init="loadProfileLessons()">
	<table>
		<thead>
			<tr>
				<td colspan="6"><h4>Timetable</h4></td>
			</tr>
			<tr>
				<td>№</td>
				<td>Date</td>
				<td>Time</td>
				<td>Language</td>
				<td>Teacher</td>
				<td>Student</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="i in lesPArray">
				<td ng-click="enterLesson(i._id)">{{$index+1}}</td>
				<td ng-click="enterLesson(i._id)">{{i.date.day}}.{{i.date.month}}.{{i.date.year}}</td>
				<td ng-click="enterLesson(i._id)">{{i.tim}}</td>
				<td ng-click="enterLesson(i._id)">{{i.languag}}</td>
				<td><p class="href" ng-click="showProfile(i.teacher.idTeacher)">{{i.teacher.teacherUserName}}</p></td>
				<td><p class="href" ng-click="showProfile(i.student.idStudent)">{{i.student.studentUserName}}</p></td>
			</tr>
		</tbody>
	</table>
</section>

<!-- <section id="inviz1" class="login-form">
	<ul>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a></p>
				<p>Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a></p>
				<p>Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a></p>
				<p>Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
	</ul>
	<div class="form-group">
		<textarea placeholder="Comment" class="form-control"></textarea>
		<label class="login-field-icon fui-new"></label>
	</div>
	<input class="btn btn-lg btn-primary" type="submit" value="Send">
</section> -->